h1 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #412600;
  font-size: 2.5em;
  margin: 3rem;
}

.purple {
  color: purple;
}

nav li a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 3px solid turquoise;
}

nav a:hover {
  color: black;
  background-color: #00203FFF;
}

.btn {
  color: #000;
  background-color: #ADEFD1FF;
  border-color: #00203FFF;
}

.btn:hover {
  color: black;
  background-color: #ADEFD1FF;
  border-color: #00203FFF;
}


footer {
  text-align: center;
}

.card {
  border: 5px solid green;
}

.current {
  color: #000;
  background-color: #ADEFD1FF;
}
