html {
  font-family: Lato, sans-serif;
}

.logo {
  font-family: "Bad Script", cursive;
}

nav li a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 3px solid lightseagreen;
}

nav a:hover {
  color: black;
  background-color: lightseagreen;
}

.btn {
  color: #000;
  background-color: coral;
  border-color: lightseagreen;
}

.btn:hover {
  color: black;
  background-color: lightseagreen;
  border-color: coral;
}

footer {
  text-align: center;
}

.card {
  border: 5px solid mediumslateblue;
}

.current {
  color: #000;
  background-color: coral;
}
